/* Импортируем дополнительные CSS-стили для сброса стилей для HTML CSS вёрстки нового проекта*/
@import "./reset.css";

/* Импортируем необходимые шрифты из Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

/* Блок с отображаемыми элементами страницы */
body {

    /* Используемый шрифт */
    font-family: "Rubik", sans-serif;
}

/* Хэдер */
.header {

    /* Превращаем элемент во флекс-контейнер */
    display: flex;

    /* Выстраиваем флекс-элементы в колонну */
    flex-direction: column;

    /* Выравниваем внутренние элементы по центру */
    align-items: center;

    /* Внутренние отступы */
    padding: 40px 15px 50px;

    /* Фон */
    background: linear-gradient(92.7deg, #4CB8C4 0%, #3CD3AD 100%), #232323;
}

/* Заголовок приложения */
.title {

    /* Внешний нижний отступ */
    margin-bottom: 20px;

    /* Используемый шрифт */
    font-family: "Rubik";

    /* Толстое начертание шрифта */
    font-weight: 700;

    /* Размер текста */
    font-size: 44px;

    /* Высота межстрочных интервалов */
    line-height: 1.18;

    /* Выравниваем текст по центру */
    text-align: center;

    /* Цвет */
    color: #FFFFFF;
}

/* Форма для размещения поля ввода названия города */
.form {

    /* Превращаем элемент во флекс-контейнер */
    display: flex;

    /* Выравниваем флекс-элементы по краям */
    justify-content: space-between;

    /* Ширина */
    width: 460px;

    /* Высота */
    height: 54px;

    /* Фон */
    background: #FFFFFF;

    /* Закругление углов */
    border-radius: 6px;
}

/* Поле ввода текста */
.input {

    /* Растягиваем флекс-элемент на всё свободное пространство */
    flex-grow: 1;

    /* Внутренние отступы */
    padding: 15px;

    /* Начертание текста */
    font-weight: 300;

    /* Размер текста */
    font-size: 20px;

    /* Высота межстрочного интервала */
    line-height: 1;

    /* Цвет текста */
    color: #000000;
}

/* Кнопка */
.btn {
    /* Ширина */
    width: 145px;

    /* Высота */
    height: 54px;

    /* Фон */
    background: #E5464F;

    /* Закругление углов */
    border-radius: 6px;

    /* Начертание шрифта */
    font-weight: 500;

    /* Размер текста */
    font-size: 20px;

    /* Высота межстрочного интервала */
    line-height: 1;

    /* Цвет текста */
    color: #FFFFFF;

    /* Плавный переход при изменении цвета фона */
    transition: background-color 0.2s ease-in;
}

/* Кнопка при наведении курсора */
.btn:hover {

    /* Фон */
    background: #F5313B;
}





